.daily-data {
  position: absolute;
  top: 50px;
  left: 400px;
  padding: 0;
  width: fit-content;
  display: flex;
  /* border: 1px solid black; */
}

.daily {
  width: 200px;
  padding-left: 20px;
  padding-top: 10px;  
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  color: white;  
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px black;

  /* background: url('../weatherdata/bg-image');  */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("../weatherdata/bg-image");

  /* add blur effect */
  filter: blur(18px);
  -webkit-filter: blur();

  /* center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);  
}
