.country-Info {
  width:20vw;   
  height: fit-content; 
  margin-top: 50px;
  margin-left: 5vw;    
  display: flex;
  flex-direction: column;   
}
.country-details { 
  width: 100%;
  max-height: fit-content;  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;   
}
.country-details div{
  width: 60px;  
  text-align: right;
}
