.country-Info {
  width:200px;   
  height: fit-content; 
  margin-top: 50px;
  margin-left: 5vw;    
  display: flex;
  flex-direction: column; 
  border: 1px solid black;     
}
.country-details {
  max-height: fit-content;  
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5px;    
  justify-content: flex-start;     
}
.country-details img{
  margin: 10px;
  height: 100px;
  width: 100px;  
}