.weather_tab{
  width:200px;   
  height: fit-content; 
  margin-left: 5vw;      
  display: flex;
  flex-direction: column;  
  align-items: flex-start;

  padding-left: 0;  
}

.weather-info{
  padding-left: 20px; 
}

.map{  
  background-color:none;
  height: 50vh;
  position: absolute;
  top: 80vh;  
  right: 5vw;  
  left: 24vw;
  object-fit: contain;
  overflow: clip;  
  margin-top: 2vh;
  margin-right: 50px;
  padding-bottom: 50px;
  border-radius: 15px;
}