
/* 
.feedback {
  border: 1px solid white;
  background-color: #282c34;
  line-height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buttons {
  border: 1px solid white;
  padding: 10px;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.click-array {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.table {
  width: 500px;
  min-height: 50px;
  text-align: center;
}

td {
  width: 50%;
} */

.searchResult {
  max-width: fit-content;  
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 10px aqua;  
}
.searchResult div:hover{
  cursor: pointer;
  background-color: rgba(159, 111, 204, 0.534);
  color: rgb(0, 0, 0);
}
.searchResult-country {
  width: 30vw;
  align-items: flex-start;  
  margin: 5px;
}
.searchResult-button button{
  width: 100px;  
}